
<div class="row">
	<div class="row">
		<div class="one columns" align="center">
			<h4 class="lead"><%= number %></h4>
		</div>
		<div class="ten columns">
			<h4 class="lead"><%= title %></h4>
		</div>
		<div class="one columns">
		<p class="skiplink medium default">
			<a href="#" gumby-goto="top"><i class="icon-up-open-big"></i></a>
		</p>
		</div>
	</div>
	<div class="row">
		<hr>
	</div>
	<div class="row">
		<div class="one columns" align="center">
			<div class="row">
				<ul>
					<li><i class="primary badge"><%= complexity %></i></li>
				</ul>
			</div>
			<div class="row">
				<ul>
					<li><a href="../../_show/storycard/data?item=<%= number %>">
							<i class="icon-print"></i>
					</a></li>
				</ul>
			</div>
		</div>
		<div class="eleven columns">
			<div class="row">
				<p><%= description %></p>
			</div>
			<div class="row" align="right">
				<p>
					<%= author %><i class="icon-user"></i>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row"><br/></div>
