<html>
<head>
<title>Platform Backlog</title>
<link rel="stylesheet" href="../../style/gumby.css" type="text/css">
<link rel="stylesheet" href="../../style/style.css" type="text/css">
<script src="../../js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>

	<div class="pretty navbar">
		<div class="row">
			<div class="two columns">
				<div style="height: 60px; vertical-align: middle;">
					<img align="middle" src="../../pictures/logo.png" />
				</div>
			</div>

			<ul class="ten columns">
				<li><a href="../done/done">Done</a> <!-- 
					<div class="dropdown">
						<ul>
							<li><a href="#">Sprint 10</a></li>
							<li><a href="#">Sprint 9</a></li>
						</ul>
					</div>
					 --></li>
				<li><a href="../backlog/backlog">Backlog</a></li>
			</ul>
		</div>
	</div>

	<div class="container">