<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" type="image/x-icon" href="../../pictures/mv_favicon.ico">
<style type="text/css">
div.card {position: absolute; width: 570px; height: 430px; border-width: 3px; border-style: solid; border-radius: 10px; overflow: hidden;}
div.cardnumberhead {position: absolute; top: 2px; left: 4px; width: 48px; font-variant:small-caps; font-size:small; font-style:bold; text-decoration:underline;}
div.cardtitlehead {position: absolute; top: 2px; left: 60px; font-variant:small-caps; font-size:small; text-decoration:underline;}
div.cardnumber {position: absolute; top: 18px; left: 4px; width: 48px; font-weight: bold; font-size:x-large; text-align:center;}
div.cardtitle {position: absolute; top: 18px; left: 60px; font-weight: bold; font-size:x-large;white-space: nowrap;}
div.cardstory {position: absolute;top: 50px;left: 0px;width: 450px;height: 370px;padding: 3px;font-size: small;border-top-width: 3px;border-right-width: 3px;border-top-style: outset;border-right-style: outset;}
div.complexityhead {position: absolute; top: 70px; left: 465px; width: 100px; font-variant:small-caps; font-size:small; text-decoration:underline; text-align:center;}
div.complexity {position: absolute; top: 90px; left: 465px; width: 100px; font-weight: bold; font-size:large; text-align:center;}
div.authorhead {position: absolute; top: 130px; left: 465px; width: 100px; font-variant:small-caps; font-size:small; text-decoration:underline; text-align:center;}
div.author {position: absolute; top: 150px; left: 465px; width: 100px; font-weight: bold; font-size:large; text-align:center;}
div.printedhead {position: absolute; top: 190px; left: 465px; width: 100px; font-variant:small-caps; font-size:small; text-decoration:underline; text-align:center;}
div.printed {position: absolute; top: 210px; left: 465px; width: 100px; font-weight: bold; font-size:large; text-align:center;}
div.storytypehead {position: absolute; top: 250px; left: 465px; width: 100px; font-variant:small-caps; font-size:small; text-decoration:underline; text-align:center;}
div.storytype {position: absolute; top: 270px; left: 465px; width: 100px; font-weight: bold; font-size:large; text-align:center;}
div.logo {position: absolute; top: 380px; left: 465px; width: 100px;text-align:center;}
</style>
<title>Story <%= number %>: <%= title %></title>
</head>
<body>

<div class="card">
	<div class="cardnumberhead">Nummer</div>
	<div class="cardtitlehead">Titel</div>
	<div class="cardnumber"><%= number %></div>
	<div class="cardtitle"><%= title %></div>
	<div class="cardstory"><%= description %></div>
	<div class="complexityhead">Komplexität</div>
	<div class="complexity"><%= complexity %></div>
	<div class="authorhead">Autor</div>
	<div class="author"><%= author %></div>	
	<div class="printedhead">Gedruckt am</div>
	<div class="printed"><%= printed %></div>	
	<div class="storytypehead">Typ</div>
	<div class="storytype"><%= storyType %></div>
	<div class="logo"><img align="middle" src="../../pictures/logo.png" /></div>
</div>

</body>
</html>

